.nav{
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    flex-wrap: wrap;
    background-color: skyblue;
}
.nav h1 a{
    color:blueviolet;
    margin-block: auto;
    font-size: 40px;

}

.nav ul{
display: inline-flex;
list-style-type: none;
margin: opx;
padding: opx;
}

.nav li {
    padding-left: 15px;
    padding-top: 15 px;
}

.nav .nav-search input {
    flex:1;
    color: blueviolet;
    border: solid blueviolet 1px;
    height: 35px;
    border-right: 0;


}
.nav .nav-search button {
  
    color: blueviolet;
    border: solid blueviolet 1px;
    height: 38px;
    border-left: 0;

}
 